@model List<PostPreviewModel>
@{
    ViewBag.Title = "Index";
}

<link href="/Content/mediaBoxes.css" rel="stylesheet" />
<style>
    .theme3 .box-caption {
        background: #0F3759;
    }

    .box-caption {
        color: rgb(223, 223, 223);
    }

        .box-caption .box-title {
            color: #9BA0FF !important;
        }

    .theme3 .box-caption .box-date {
        color: #8DB4DA !important;
    }

    .box-caption .box-more a {
        color: #2A80B9;
    }

        .box-caption .box-more a:hover {
            color: #FFF;
        }
</style>
<div class="container pad60">
    <div class="col-md-12">
        @if (ViewBag.Tag != null)
        {
            <h4>All things <em>"#@ViewBag.Tag"</em>. . . </h4>
        }
        <div id="grid">
            @foreach (var item in Model)
            {
                <div class="box" data-category="@item.CategoryName">
                    <div class="box-caption">
                        <div class="box-title">@item.Title</div>
                        <div class="box-date">@item.PublishDate</div>
                        <div class="box-text">
                            @Html.Raw(@item.ContentSnippet)
                        </div>
                        <div class="box-more"> @Html.ActionLink("Read More...", "Read", "Blog", null, null, null, new { id = item.PostId }, null)</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="/Scripts/rotate-patch.js"></script>
<script src="/Scripts/waypoints.min.js"></script>
<script src="/Scripts/mediaBoxes.min.js"></script>

<script>
    //<![CDATA[
    $('document').ready(function () {
        $('#grid').mediaBoxes({
            theme: 'theme3  ',
        });
    });
    //]]>
</script>